/* 
    Date: February 27, 2020
    Filename: contactUs.css
    Language: CSS
    Editor: Visual Studio Code
    Operating System Used: Windows 10 
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap:200,300,400,500,600,700,900');

*{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

/* choose background other than plain white */
body {
    background-color: whitesmoke;
}

/* sidepanel starts hidden, click to open/close */
.sidepanel {
    background-color: black;
    float: right;
    height: 175px;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0%;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

/* each option in the sidepanel */
.sidepanel a {
    color: whitesmoke;
    display: block;
    font-size: 16px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

/* format close button */
.sidepanel .closebtn {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

/* format open button */
.openbtn {
    background-color: #111;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 30px;
    padding: 8px 13px;
    position: absolute;
    right: 0%;
}

.openbtn:hover {
    background-color: #444;
    right: 0%;
}

/* website title */
h1 {
    font-size: 50px;
    font-weight: 175;
    letter-spacing: 5px;
    padding: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

/* page title */
h2 {
    background-color: black;
    color: whitesmoke;
    font-size: 26px;
    font-weight: 175;
    letter-spacing: 5px;
    padding: 10px;
    padding-left: 50px;
    text-transform: uppercase;
}

/* format instructions */
h3 {
    font-size: 20;
    padding-left: 45px;
}

p {
    padding: 10px;
    padding-left: 65px;
}

/* format form */
form {
    margin: 45px;
    margin-top: 20px;
}

form label {
    display: block;
    margin: 5px 0;
}

/* round all the input and selection boxes for effect */
select {
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 2px;
}

form input[type="text"],
input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px 0;
    padding: 7px 2px;
    width: 40%;
}

form input[type="submit"] {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px 0;
    padding: 7px 2px;
    width: 5%;
}

.message {
    border-radius: 5px;
}

/* copyright bar at bottom */
.copyright {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

/* social media icons */
.fa {
    border-radius: 20%;
    color: whitesmoke;
    font-size: 40px;
    padding: 15px;
    text-decoration: none;
}

.fa:hover {
    cursor: pointer;
    text-decoration: underline;
}