/* 
    Date: February 17, 2020
    Filename: style.css
    Language: CSS
    Editor: Visual Studio Code
    Operating System Used: Windows 10 
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap:200,300,400,500,600,700,900');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* choose background other than plain white */
body {
    background-color: whitesmoke;
}

/* sidepanel starts hidden, click to open/close */
.sidepanel {
    float: right;
    height: 175px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .sidepanel a:hover {
    color: whitesmoke;
    text-decoration: underline;
  }
  
  /* format close button */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  /* format open button */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
    padding: 8px 13px;
    border: none;
    right: 0%;
    position: absolute;

  }
  
  .openbtn:hover {
    background-color: #444;
    right: 0%;
  }

/* main title in top left */
h1 {
    font-weight: 175;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    padding-left: 20px;
}

/* cover photo */
img {
    height: 600px;
    width: 100%;
}

/* caption for cover photo */
.coverCaption {
    position: absolute;
    bottom: 5%;
    left: 40%;
    transform: translate(-40%, -30%);
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    color: white;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 15px;
}
/* button on cover photo (to see all photos)  */
#coverBtn {
    position: absolute;
    top: 95%;
    left: 40%;
    margin: 20px auto 0;
    padding: 20px;
    background: rgba(225, 225, 225, 0.5);
    font-size: 12px; 
    text-align: center;
    border: 1px solid white;
    text-transform: uppercase;
    text-decoration: transparent;
    letter-spacing: 4px;
    outline: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* text on button on cover photo */
a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}

/* row of pictures below cover photo and titles for each */
img:not(.coverPhoto) {
    height: 300px;
}

.row {
    display: flex;
    position: relative;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/* opaque when hover over pictures */
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
    position: relative;
    width: 50%;
    cursor: pointer;
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
    cursor: pointer;
}

/* captions for each of three pictures in row */
h3 {
    font-size: 20px;
    word-break: break-all;
    position: relative;
    left: 35%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    padding-top: 10px;
}

/* copyright bar at bottom */
.copyright {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

/* social media icons */
.fa {
    padding: 15px;
    font-size: 40px;
    color: whitesmoke;
    border-radius: 20%;
}

.fa:hover {
    cursor: pointer;
}